
#pck_info {
  margin-bottom: 60px;
}

.row-container {
  border-top: 0.5px solid #CCC;
  margin-bottom: 30px;
  display: block;
}

.row {
  color: #AAA;
  font-weight: normal;
  font-size: 36px;
}

.item_desc, .item_name {
  display: block;
  overflow-y: scroll;
  max-height: 200px;
  margin: 12px 0;
}
